:root{
  --background-color-main: #0b0709;
  --background-color-content: #141E46;
  --text-color-main: white;
  --background-color-accent1: #686461;
  --background-color-accent2: #BB2525;
  --hero-canvas-height: 350px;
  --container-border: 2px solid black;
  --container-border-radius: 5px;
  --container-text-shadow: 0 5px 10px -5px black;
}
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html { scroll-behavior: smooth; }
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: var(--background-color-accent2);
  height: 100vh;
}
#root{
  margin: 0;
  /* border: 10px solid black; */
  min-height: 100%;
  width: 100%;
}


.App {
  /* position: relative; */
  /* overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  min-height: 100%; */
}
a {
  color: white
}
.dummy{
  pointer-events: none;
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  /* background-color: var(--background-color-main); */
}

.dummy-image-container{
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  width: 350px;
  height: 350px; */
.dummy-image {
  z-index: 5;
  position: relative;
  background-image: url("../assets/images/linkedin-oct-2023.jpg");
  background-size: 115%;
  background-position: 25% 45%;
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 20px black;
}

.hero-section {

}

.hero-canvas {
  z-index: 0;
  /* background: url('/assets/images/cloud-backdrop.jpg'); */
  background-color: #333;
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
}
.hero-content {
  pointer-events: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: white;
}

.hero-content h1 {
  font-size: 3em;
}
.skills-section {
  position: inherit;
  bottom: 0;
  border-top: 1px solid var(--background-color-content);
  border-bottom: 1px solid var(--background-color-content);
  background-color: white;
  margin: 0;
  height: 20vh;
  z-index: 100;
}

@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;   
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: none;
}
.loop-container {
  /* background-color: blue; */
   position: relative;
   width: 100%;
   left: 0;
   top: 0;
}
.skills-container {
  bottom: 0;
  /* scroll-snap-align: center; */
  overflow: hidden;
  padding-top: 1.2%;
  width: 100%;
  height: 175px;
  left: 0;
  top: 0;
  position: relative;
  /* display:flex; */
  align-items: center;
  background-color: rgb(255, 255, 255);

  /* z-index: 1; */
}
.skills-container img {
  height: 125px;
  margin-left: 15px;
  margin-right: 15px;
 
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: 130%;
  /* margin-left: 20vw; */
}
.nav-container a:first-child{
  background-color: var(--background-color-accent2);
}
.nav-container a {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* padding-right: 25px; */
  /* padding-left: 25px; */
  text-shadow: 0px 0px 2px var(--background-color-accent1);
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: 600;
  transition: all .3s;
}
.nav-container a:hover {
  /* color: white; */
  background-color: var(--background-color-accent2);
}

.nav-container span{
  box-shadow: 0px 0px 5px -1px var(--background-color-accent1);
  position: absolute;
  background-color: var(--background-color-main);
  top: 62%;
  height: 3px;
  width: 0%;
  transition: all 1s;
}
/* .nav-container a:hover > span {
  width: 35%;
} */
.selected {
  background-color: var(--background-color-accent2);
}
.selected span {
  width: 35%;
  
}
.content {
  padding: 2em;
  padding-top: 1em;
  line-height: 2em;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: var(--text-color-main);
  /* max-width: 80vw; */
  background-color: var(--background-color-content);
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid black;
}

/* ---- after nav bar ---- */

.section-pannels {
height: 200vh;
overflow-x: hidden;
}

.contacts-container{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-accent2);
  width: 100%;
  height: 100%;
}
.contacts-container textarea {
  width: 300px;
  height: 100px;
}
.contacts-container h3 {
  /* margin-bottom: 5%; */
}
.contacts-container form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contacts-container input{
  margin-bottom: 35px;
}
.contacts-container button{
  margin: 10px;
  background-color: var(--background-color-main);
  padding: 8px;
  line-height: 1rem;
  color: white;
  transition: .3s;
  border-radius: 10px;
}
.contacts-container button:hover{
  background-color: white;
  color: black;
}
.contacts-container button:disabled {
  opacity: .5;
  background-color: grey;
}
.contacts-container button:disabled:hover {
  background-color: grey;
}
.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-accent2);
  width: 100%;
  height: 100%;
}
.projects-div{
  box-shadow: var(--container-text-shadow);
  background-color: var(--background-color-accent1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
  width: 80vw;
  max-width: 900px;
  padding: 15px;
  border: var(--container-border);
  border-radius: var(--container-border-radius);
  padding-bottom: 45px;
}
.projects-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.projects-github {
  position: relative;
  left: 0;
  
}
.projects-github a {
  padding-bottom: 1px;
  color: black;
  transition: all 0.3s
}
.projects-github a:hover {
  color: white;
  text-decoration-color:var(--background-color-accent2);
}
.project{
  background-color: var(--background-color-main);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: var(--container-text-shadow);
  border: 1px solid black;
  border-radius: var(--container-border-radius);
  max-width:60%;
  height: 30%;
  margin: 2%;
  /* scale: 5; */
}

.project img{
  aspect-ratio: 3 / 2;
  height: 100%;
}
.project video{
  aspect-ratio: 3 / 2;
  /* width: 100%; */
  /* height: 100%; */
}
.project-overlay-bg{
  color: #fff;
  display: flex;
  /* padding-top: 10%; */
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
}
.project-overlay-bg:last-child{
  width: 100%;
}
.project-overlay-bg-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-overlay-btn{
  width: fit-content;
  margin: 6%;
  background-color: var(--background-color-main);
  padding: 8px;
  line-height: 1rem;
  color: white;
  transition: .3s;
  border-radius: 10px;
}
.project-overlay-btn:hover{
  background-color: var(--background-color-accent2);
}
.project-overlay-bg a {
  text-decoration: none;
}
.project-overlay-bg span {
  padding: 3px;
  background: rgba(0, 0, 0, .6);
  font-weight: 700;
  /* text-shadow: 0 1 5px 5px red; */
}
.project-popout{
  
  text-align: center;
  background-color: var(--background-color-main);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--container-text-shadow);
  border: 1px solid black;
  border-radius: var(--container-border-radius);
  width: fit-content;
  height: fit-content;
  width: 75%;
  max-width: 750px;
  max-height: 750px;
}
.popout-carousel {
  width: 100%;
}
.popout-carousel img {
  aspect-ratio: 3 / 2;
}
.project-popout a {
  text-decoration: underline;
  /* text-decoration-color: white; */
  transition: all .3s;
}
.project-popout a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}
.popout-close {
  margin-right: 15px;
  float: right;
}
.project-popout video {
  /* scale: .5; */
  width: 100%;
}
.project-popout p {
  padding: 10px;
  color: white;
}

.about-container{
  /* margin-top: 45px; */
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-accent2);
  width: 100%;
  height: 100%;
}
.about-container h1 {
  text-align: center;
  font-size: 2rem;
}
.about-container h4{
  text-align: center;
}

#js-canvas{
  position: relative;
  /* border: 1px solid black; */
  left: 50%;
  width: 350px;
  height: 350px;
  z-index: 5;
}

.socials-container {
  margin-left: 5px;
  margin-bottom: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 50px;
}
.socials-container img{
  max-width: 100%;
}

@media screen and (max-width: 400px) {
  .about-container {
    /* padding-top: 150px; */
  }
  .project-overlay-bg{
    font-size: .1rem;
  }
  .project-overlay-bg button{
    font-size: .5rem;
    padding: 3px;
  }
}
@media screen and (max-width: 750px) {

  .project-overlay-bg{
    font-size: .8rem;
  }
  .project-overlay-bg button{
    font-size: .5rem;
    padding: 6px;
  }
}
@media screen and (max-width: 950px) {
  .project-overlay-bg{
    /* font-size: .1rem; */
  }
  .project-overlay-bg button{
    font-size: .6rem;
    padding: 6px;
  }
}

